.container {
	text-align: center;
	color: #4486F0;
}

.container h2 {
	font-size: 16pt;
}

.intro-img p {
	margin-top: 15px;
	font-size: 15pt;
	font-weight: bold;
}

.criterios-container {
	margin: 16px;
	padding: 8px;
}

.criterios  ul {
	float: left;
}

.criterios li {
	text-align: center;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style-type: none;
	background: #4486F0;
	color: #fff;
	float: left;
	width: 31%;
}

.blue {
 	background: #4486F0
}

@media only screen and (max-device-width: 480px) {
	.intro-img .logo {
		width: 70%;
	}
}
